body {
  color: #314a5b;
  margin: 0 auto;
  font-size: 14px;
  max-width: 1370px;
  font-family: Montserrat, sans-serif;
}

.wrap {
  height: 1057px;
  background: url("../img/wrapbg.png") no-repeat center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper, header .wrapper, .intelligence {
  display: flex;
  margin: 0 15%;
}

header .wrapper, header .intelligence {
  justify-content: space-between;
}

header .logo {
  background: #fa5c65;
  padding: 43px 14px 14px 14px;
  border-bottom: 1px transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header .logo a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 63.95px;
  letter-spacing: 0.3px;
  font-family: Domine, sans-serif;
}

header .logo a span {
  color: #314a5b;
}

header ul {
  padding: 0;
  display: flex;
}

header ul li a {
  color: #263742;
  font-weight: 400;
  margin-left: 40px;
  text-transform: uppercase;
}

header ul li a i {
  color: #fa5c65;
}

header ul li a:last-child {
  margin-left: 20px;
}

.intelligence div {
  flex-basis: 510px;
}

.intelligence h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 306px 0 26px 0;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}

.intelligence h1 span {
  margin: 0;
  color: #fa5c65;
}

.intelligence span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 41px 0;
  font-family: "Open Sans", sans-serif;
}

.intelligence button {
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 25px 45px;
  background: #fa5c65;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

main .about .wrapper, main .about .intelligence {
  justify-content: space-between;
}

main .about .wrapper div, main .about .intelligence div {
  flex-basis: 255px;
}

main .about h3 {
  color: #465065;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

main .about h3 i {
  color: #f0454c;
}

main .about span {
  color: #9aa0ab;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

main .about a {
  color: #f0454c;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

main .portfolio .wrapper-item {
  flex-basis: 50%;
}

main .portfolio .wrapper-item .MacBook {
  width: 398px;
  height: 301px;
  background: url("../img/MacBook.png") no-repeat;
}

main .portfolio .wrapper-item h2 {
  font-size: 40px;
  text-transform: uppercase;
}

main .portfolio .wrapper-item h2 i {
  color: #f0454c;
}

main .portfolio .wrapper-item p {
  color: #9aa0ab;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

main .portfolio .wrapper-item p span {
  color: #314a5b;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

main .portfolio .wrapper-item a {
  color: #f0454c;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

main .team-wrapper {
  margin: 0 15%;
}

main .team-wrapper h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

main .team-wrapper h3 i {
  color: #f0454c;
}

main .team-wrapper__span {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

main .team-wrapper__wrap {
  display: flex;
}

main .team-wrapper__wrap .team-wrapper-wrap__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .team-wrapper__wrap .team-wrapper-wrap__item img {
  width: 120px;
  height: 120px;
}

main .team-wrapper__wrap .team-wrapper-wrap__item h4 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

main .team-wrapper__wrap .team-wrapper-wrap__item span {
  color: #f0454c;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

main .team-wrapper__wrap .team-wrapper-wrap__item p {
  color: #9aa0ab;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

main .team-wrapper a {
  color: #f0454c;
  display: block;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

footer {
  color: #b9c0c6;
  font-size: 13px;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

footer .links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

footer .links li {
  margin-right: 11px;
}

footer .links a {
  color: #b9c0c6;
  font-size: 16px;
}
