footer {
	@extend %flex;
	color: $lightgray;
	justify-content: space-between;
	.socials {
		@extend %flex;
		padding: 0;
		margin: 0 0 41px 0;
		list-style-type: none;
		justify-content: space-between;
		&__item {
			margin-right: 11px;
			.link {
				color: $lightgray;
				&:hover {color: $red; }
			}
		}
	}
}