$red: #fa5c65;
$gray: #314a5b;
$darkGray: #263742;
$lightgray: #9aa0ab;
$wrap-width: 940px;
$Domine: 'Domine', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$prefixes: "-webkit-", "-o-", "-moz-", "-ms-";

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

%flex {
	display: flex;
	flex-wrap: wrap;
}

%ul {
	margin: 0;
	padding: 0;
	list-style: none; 
}

.wrapper {
	margin: 0 auto;
	max-width: $wrap-width;
	position: relative;
}

.text--point {color: $red;}

.btn--more {
	color: $red;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 29px 0 104px 0;
	font-family: $Montserrat;
	text-transform: uppercase;
	&:after {
		content: '➔';
	}
}

.title {
	color: $gray;
	font-size: 40px;
    margin: 0 0 17px 0;
    font-weight: 700;
    font-family: $Montserrat;
    text-transform: uppercase;
}

.link {text-decoration: none;}
/*mixin*/
@mixin addPrefix($item, $val) {
	@each $tmp in prefixes {
		#{$tmp}#{$item}:$val;
	}

	#{$item}:$val;
}