@import 'settings';

.page_row {
	height: 100vh;
	position: relative;
	background-attachment: fixed;
	background: no-repeat center 0 / cover;
	.wrapper {
		@extend %flex;
		height: 100%;
	}
	.header {
		@extend %flex;
		flex-basis: 100%;
		align-self: flex-start;
		justify-content: space-between;
		&__logo{
			display: block;
			background: $red;
    		padding: 43px 14px 14px 14px;
    		border-bottom: 1px transparent;
    		border-bottom-left-radius: 10px;
    		border-bottom-right-radius: 10px;
    		.text--point {color: $gray;}
    		&:hover {
    			background: $gray;
    			.text--point {color: $red;}
    		}
    		.logo {
    			color: #fff;
    			font-weight: 700;
    			font-size: 1.25rem;
    			letter-spacing: 0.3px;
    			font-family: $Domine;		
    		}
		}
		.nav {
			.nav__list {
				@extend %ul, %flex;
				margin-top: 1.5625rem;
				.nav__item {
					margin-left: 30px;
					.link {
						color: $darkGray;
    					font-weight: 400;
    					margin-left: 40px;
    					font-family: $Montserrat;
    					text-transform: uppercase;
    					&:hover {
    						color: $red;
    					}
					}
					&--color{
						.link{
							color: #fa5c65;
							transition: all 0.3s ease;
							@include addPrefix(filter,grayscale(100%));
							&:hover{@include addPrefix(filter,grayscale(0));}
						}
					}
				}
			}
		}
	}
	.section {
		max-width: 58%;
		.headline {
			color: $gray;
			font-size: 48px;
    		font-weight: 700;
    		font-family: $Montserrat;
    		margin: 0 0 26px 0;
    		text-transform: uppercase;
		}
		.slogan {
			color: $gray; 
    		font-size: 20px;
    		font-weight: 400;
    		margin: 0 0 71px 0;
    		font-family: $OpenSans;
		}
		.link__bth {
			display: block;
			margin-top: 15px;
			&--text {
				color: #fff;
    			font-size: 15px;
    			font-weight: 700;
    			background: $red;
    			padding: 25px 45px;
    			border-radius: 10px;
    			font-family: $OpenSans;
    			text-transform: uppercase;
    			&:hover {background: $gray;}
			}
		}
	}
}
main {
	.articles {
		.wrapper{
			@extend %flex;
			justify-content: space-between;
			.wrapper__item {
				flex-basis: 255px;
				.headline {
					color: $gray;
					font-size: 26px;
					font-weight: 700;
					margin: 86px 0 24px 0;
					font-family: $Montserrat;
					text-transform: uppercase;
				}
				.item__description {
					color: $lightgray;
					font-size: 15px;
					font-weight: 400;
					font-family: $OpenSans;
				}
				.link {
					text-transform: uppercase;
				}
			}
		}
	}
	.portfolio {
		.wrapper {
			@extend %flex;
			justify-content: space-between;
			&__item {
				flex-basis: 50%;
				.text {
    				font-size: 15px;
    				/*line-height: 22;*/
    				font-weight: 400;
    				color: $lightgray;
    				/*margin: 0 0 35px 0;*/
    				font-family: $OpenSans;
					.text--color {
						color: $gray;
						display: block;
						font-size: 16px;
						font-weight: bold;
						margin-bottom: 29px;
					}
				}
			}
		}
	}
	.tem {
		&__slogan {
			font-size: 16px;
    		font-weight: 400;
    		color: $lightgray;
   		 	font-family: $OpenSans;	
		}
		.wrapper__items {
			@extend %flex;
			flex-wrap: nowrap;
			.wrapper__item {
				@extend %flex;
				flex-wrap: nowrap;
				align-items: center;
				margin: 40px 40px 0 0;
				justify-content: space-between;
				&:last-child {margin-right: 0;}
				&--avatar {
					width: 120px;
    				height: 120px;
    				margin-right: 20px;
				}
				.container__username {
					color: $gray;
					font-size: 22px;
    				font-weight: 700;
    				margin: 18px 0 11px 0;
    				font-family: $Montserrat;
    				text-transform: uppercase;
				}
				.container_position {
					color: #f0454c;
    				font-size: 14px;
    				font-weight: 400;
    				font-family: $OpenSans;

				}
				.container__text {
    				font-size: 14px;
    				font-weight: 400;
    				color: $lightgray;
    				margin: 14px 0 0 0;
    				font-family: $OpenSans;
				}
			}
		}
		.btn--more {
			text-align: right;
			margin: 56px 0 62px 0;
		}
		.horizontal-line {
			margin: 0 0 35px 0;
		}
	}
}
footer {
	@extend %flex;
	color: $lightgray;
	justify-content: space-between;
	.socials {
		@extend %flex;
		padding: 0;
		margin: 0 0 41px 0;
		list-style-type: none;
		justify-content: space-between;
		&__item {
			margin-right: 11px;
			.link {
				color: $lightgray;
				&:hover {color: $red; }
			}
		}
	}
}
